body, nav, header, section, article, p, figure, figcaption, ul, li, dl, dt, dd, footer, address, div, a, h1, h2, h3, h4, h5, img {
	padding:  0;
	margin:   0;
	border:   0;
	font-weight:  normal;
	font-style:   normal;
}

body {
  margin:       0 auto;
  max-width:    40rem;
	position:     relative;
	z-index:      0;
  background:   #fff;
  font-size:    1.5rem;
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "ＭＳ Ｐゴシック", sans-serif;
	color:        #000;
}

textarea, input {
  padding:      0.5rem;
  font-size:    1.5rem;
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "ＭＳ Ｐゴシック", sans-serif;
	color:        #000;
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
}

nav, header, article, footer, figcaption, figure {
	display:  block;
	clear:    left;
}

body > * {
  margin-bottom:  1rem;
}

body > *:first-child {
  margin-top: 1rem;
}

body > section > * {
  margin-bottom:  0.5rem;
}

body > section > *:last-child {
  margin-bottom:  0;
}

h1 {
  font-size:  2rem;
  text-align: center;
}

/* === list === */

#list-section {
  margin-bottom:  1rem;
}

#list-section h1 {
  color:  #24d;
}

#list-section ul {
  list-style-type:  none;
}

#list-section ul li {
  display:        table;
  overflow:       hidden;
  margin-bottom:  0.5rem;
  width:          100%;
  background:     #24d;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
}

#list-section ul li:hover {
  background: #129;
}

#list-section ul li a {
  display:  table-cell;
  padding:  0.5rem;
  width:    85%;
  color:    #fff;
  text-decoration:  none;
  vertical-align:   middle;
}

#list-section ul li a div {
  display:  table;
  width:    100%;
}

#list-section ul li a .task-title {
  display:    table-cell;
  width:      75%;
  font-size:  1.8rem;
  vertical-align: middle;
}

#list-section ul li a .task-created-at {
  display:    table-cell;
  font-size:  1rem;
  text-align: center;
  vertical-align: middle;
}

#list-section ul li .task-delete {
  display:    table-cell;
  padding:    0.5rem;
  text-align: right;
  vertical-align: middle;
}

#list-section ul li .task-delete button {
  padding:      0 0.5rem;
  width:        100%;
  height:       100%;
  background:   #c21;
  color:        #fff;
  font-size:    1.5rem;
  border-style: none;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
  vertical-align:         middle;
}

#list-section ul li .task-delete button:hover {
  background: #e53;
}

/* create task */

#list-section ul li.create-task {
  background: #fff;
  border:     solid 1px #4d2;
  text-align: center;
}

#list-section ul li.create-task a {
  width:      100%;
  color:      #4d2;
  font-size:  1.75rem;
}

#list-section ul li.create-task:hover {
  background:       #4d2;
  text-decoration:  none;
}

#list-section ul li.create-task:hover a {
  color:  #fff;
}

/* === create new task === */

#create-section {
  padding:    1rem;
  background: #4d2;
  color:      #fff;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
}

#create-section form {
  margin: 0 auto;
  width:  30rem;
}

#create-section form dl {
  margin-bottom:  0.5rem;
}

#create-section form dl dt {
  text-align: left;
}

#create-section form dl dd {
  text-align: center;
}

#create-section textarea, #create-section input {
  width:  100%;
}

#create-section button {
  padding:      0.5rem;
  width:        100%;
  background:   #2a1;
  color:        #fff;
  font-size:    1.5rem;
  border-style: none;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
  vertical-align:         middle;
}

#create-section button:hover {
  background:   #6f3;
  color:        #fff;
}

/* === show task === */

#show-section {
  padding:    1rem;
  background: #24d;
  color:      #fff;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
}

#show-section p.show-content {
  padding:    0.5rem;
  background: #fff;
  color:      #000;
  font-size:  1.5rem;
}

#show-section p.show-created-at {
  font-size:  1.0rem;
  text-align: right;
}

/* === footer === */

footer {
  text-align: center;
}

/* === anchor button === */

a.a-button {
  display:    inline-block;
  padding:    0.5rem 1rem;
  background: #fff;
  color:      #24d;
  font-size:  1.5rem;
  border:     solid 1px #24d;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
  text-decoration:        none;
  text-align:             center;
}

a.a-button:hover {
  background: #24d;
  color:      #fff;
}