body, nav, header, section, article, p, figure, figcaption, ul, li, dl, dt, dd, footer, address, div, a, h1, h2, h3, h4, h5, img {
	padding:  0;
	margin:   0;
	border:   0;
	font-weight:  normal;
	font-style:   normal;
}

body {
  margin:       0 auto;
  max-width:    40rem;
	position:     relative;
	z-index:      0;
  background:   #fff;
  font-size:    1.5rem;
  font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "ＭＳ Ｐゴシック", sans-serif;
	color:        #000;
}

nav, header, article, footer, figcaption, figure {
	display:  block;
	clear:    left;
}

h1 {
  font-size:  2rem;
  text-align: center;
}

ul {
  list-style-type:  none;
}

ul li {
  display:        table;
  overflow:       hidden;
  margin-bottom:  0.5rem;
  width:          100%;
  background:     #24d;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
}

ul li:hover {
  background: #129;
}

ul li a {
  display:  table-cell;
  padding:  0.5rem;
  width:    85%;
  color:    #fff;
  text-decoration:  none;
  vertical-align:   middle;
}

ul li a div {
  display:  table;
  width:    100%;
}

ul li a .task-title {
  display:    table-cell;
  width:      75%;
  font-size:  1.8rem;
  vertical-align: middle;
}

ul li a .task-created-at {
  display:    table-cell;
  font-size:  1rem;
  text-align: center;
  vertical-align: middle;
}

ul li .task-delete {
  display:    table-cell;
  padding:    0.5rem;
  text-align: right;
  vertical-align: middle;
}

ul li .task-delete button {
  padding:      0 0.5rem;
  width:        100%;
  height:       100%;
  background:   #c21;
  color:        #fff;
  font-size:    1.5rem;
  border-style: none;
  border-radius:          0.5rem;
  -moz-border-radius:     0.5rem;
  -webkit-border-radius:  0.5rem;
  vertical-align:         middle;
}

ul li .task-delete button:hover {
  background: #e53;
}

/* === create task === */

ul li.create-task {
  background: #fff;
  border:     solid 1px #4d2;
  text-align: center;
}

ul li.create-task a {
  width:      100%;
  color:      #4d2;
  font-size:  1.75rem;
}

ul li.create-task:hover {
  background:       #4d2;
  text-decoration:  none;
}

ul li.create-task:hover a {
  color:  #fff;
}

/* ===  === */

#create-section {
}
