@(createForm: Form[CreateForm])

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main("新規作成") {
  <section id="create-section">
    <h1>新規作成</h1>

    @helper.form(action = routes.Application.create) {
      @inputText(field = createForm("title"), args = '_label -> "タイトル")
      @textarea(field = createForm("content"), args = '_label -> "内容", 'rows -> 4)
      <button type="submit">作成</button>
    }
  </section>
  
  <footer>
    <a href="@routes.Application.tasks" class="a-button">キャンセル</a>
  </footer>
}
