@(tasks: List[Task])

@import org.joda.time.format.DateTimeFormat

@main("TODO List") {

<h1>タスク一覧</h1>

<p>
  <a href="@routes.Application.create">新規作成</a>
</p>

<table border="1">
  <tr><th>タスク名</th><th>日時</th><th>削除</th></tr>
  @for(task <- tasks) {
    <tr>
      <td><a href="@routes.Application.show(task.id)">@task.title</a></td>
      <td>@task.createdAt.toString("yy/MM/dd HH:mm")</td>
      <td><button onclick="$.ajax(jsRoutes.controllers.Application.delete(@task.id)).done(function() { location.reload(); })">削除</button></td>
    </tr>
  }
</table>

}