@(tasks: List[Task])

@main("TODO List") {

<section>

  <h1>TODO List</h1>

  <ul>
    <li class="create-task"><a href="@routes.Application.create">新規作成</a></li>
    @for(task <- tasks) {
      <li>
        <a href="@routes.Application.show(task.id)"><div>
          <div class="task-title">@task.title</div>
          <div class="task-created-at">@task.createdAt.toString("yy/MM/dd HH:mm")</div>
        </div></a>
        <div class="task-delete">
          <button type="button" onclick="$.ajax(
            jsRoutes.controllers.Application.delete(@task.id)
          ).done(
            function() { location.reload(); }
          )">削除</button>
        </div>
      </li>
    }
  </ul>

</section>

}