@(tasks: List[Task])

@import org.joda.time.format.DateTimeFormat

@main("TODO List") {

<h1>タスク一覧</h1>

<p>
  <a href="@routes.Application.create">新規作成</a>
</p>

<ul>
  <li class="create-task"><a href="@routes.Application.create">新規作成</a></li>
  @for(task <- tasks) {
    <li><a href="@routes.Application.show(task.id)">
      <span class="task-title">@task.title</span>
      <span class="task-created-at">@task.createdAt.toString("yy/MM/dd HH:mm")</span>
      <button type="button" class="btn btn-danger" onclick="$.ajax(jsRoutes.controllers.Application.delete(@task.id)).done(function() { location.reload(); })">削除</button>
    </a></li>
  }
</ul>

}